@import '~antd/dist/antd.css';

#satWorldView {
  width: 50%;
  height: 50em;
  touch-action: none;
  /* float: left; */
  padding-right: 0.5%;
  display: inline-block;
}

/* #satRotView {
  width: 49.75%;
  height: 50em;
  touch-action: none;
  float: left;
} */
