{
    "extends": "airbnb",
    "env" : {
        "browser": true
    },
    "parser": "babel-eslint",
    "rules": {
        "comma-dangle": ["warn", "never"],
        "eol-last": ["warn", "always"],
        "react/destructuring-assignment": [0, "always", { "ignoreClassFields": "boolean" }]
    }
}
