@import '~antd/dist/antd.css';
@import './tailwind.css';
@import './index.css';

#scene {
  width: 100%;
  height: 80vh;
  touch-action: none;
  /* float: left; */
}

.media-buttons {
  cursor: pointer;
  font-size: '1.1em';
  color: 'skyblue';
}

.media-buttons:hover {
  color: blue;
}
